<html>
<head>

        <title> Marketing Personal </title>
       

        <link href="css/diseno.css" rel="stylesheet" type="text/css"/>
        </head>


        <hgroup>
        <h1><i><u> Marketing Personal </u></i></h1><br>
        

        <h3><img src= "img/m1.jpg" width="400" heigth="300" /><h3><br>

     <table>
<thead>
<tr>
	<th>Maquillaje<br>
  Encuentra tu estilo para tener un muy buen maquillaje
<h3> Es la práctica de decorar la piel y otras partes visibles del cuerpo para resaltarlas. 
  También se define como maquillaje todo producto usado para decorar o arreglar rasgos faciales 
  o corporales de una persona; este se compone de diversos elementos con funciones determinadas 
  para cada parte (ojos, labios, etcétera) <br><br><img text-align: left; src= "img/m2.jpg" width="400" heigth="300" />  <h3><br>
  
</th>

</tr>
</thead>

<thead>
<tr>
	<th>Ropa<br>
  Que estilo te gusta mas?
<h3>
  La moda es un mecanismo regulador de elecciones realizadas en función de criterios de gusto, 
  es decir, son aquellas tendencias y géneros repetitivos de ropa y accesorios, incluso de estilos 
  de vida y maneras de comportarse que la dente adopta, es por eso que muchas veces la manera de 
  vestir influye tanto en nuestro comportamiento y en la seguridad que mostramos, ya que pueden 
  marcar o modificar la conducta <br><br> <img src= "img/m3.png" width="400" heigth="300" /><h3>
</th>
</tr>
</thead>


<thead>
<tr>
	<th>Zapatos<br>
  Unos buenos zapatos dicen mucho de ti!!!
<h3>
  En la actualidad, la belleza y estilo del calzado tiene una importancia casi igual a la que tiene 
  la funcionalidad del mismo. En este sentido, hoy en día podemos encontrarnos con una cantidad infinita 
  de modelos de calzado para cada tipo de espacio, temperatura, actividad y momento del año.
<br><br> <img src= "img/m4.jpg" width="400" heigth="300" /><h3>
</th>
</tr>


</thead>

<table>
        <thead>
          <tr>
              <th data-field="id">Moda <img src= "img/m5.jpg" width="130" heigth="250" /> </th><br><br>
              <th data-field="name">Estilo <img src= "img/m7.jpg" width="130" heigth="250" /> </th><br>
              <th data-field="price">Tallaje<img src= "img/m6.jpg" width="130" heigth="250" /> </th>
              <th data-field="price">Pasarela<img src= "img/m8.jpg" width="130" heigth="250" /> </th>
              <th data-field="price">Glamour<img src= "img/m9.png" width="130" heigth="250" /> </th>
               <th data-field="price">Fashion<img src= "img/m11.jpg" width="130" heigth="250" /> </th>
              <th data-field="id">Diseno <img src= "img/m10.png" width="130" heigth="250" /> </th><br><br>
          </tr>
        </thead>

        
      </table>




</table
        
    
    
</html>
